<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reliableservices.venderapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VenderApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activitys.AddOrderActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activitys.ForgotPasswordActivity" />
        <activity android:name=".activitys.VenderRegistrationActivity" />
        <activity android:name=".activitys.OnlinePaymentActivity" />
        <activity android:name=".activitys.BusinessCardActivity" />
        <activity android:name=".activitys.WhatspStoriesActivity" />
        <activity android:name=".activitys.MarketingActivity" />
        <activity android:name=".activitys.PromoCardActivity" />
        <activity android:name=".activitys.BusinessCard" />
        <activity android:name=".activitys.MyCustomerActivity" />
        <activity android:name=".activitys.StroreORcodeActivity" />
        <activity android:name=".activitys.DiscountCoupanActivity" />
        <activity android:name=".activitys.ExtraChargeActivity" />
        <activity android:name=".activitys.AddVariants" />
        <activity android:name=".activitys.CustomDetailActivity" />
        <activity android:name=".activitys.ProductDetailActivity" />
        <activity android:name=".activitys.AddProductActivity" />
        <activity android:name=".activitys.MainActivity" />
        <activity android:name=".activitys.OtpActivity" />
        <activity android:name=".activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>